.fieldline {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:auto;
}

.loginContainer {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    height:60vh;

}



.card-heading{
    text-align: center;
}

#passwordField{
    background-color: whitesmoke !important;
   
    border-color:whitesmoke !important;
    border-radius:0.9em;
    margin-bottom:2em;
    padding:3rem;
    font-family: 'PT Sans', sans-serif !important;
    border-width: 1rem;

}






#loginBtn {
    margin-top:2.5rem;
    background-color:var(--blue);
    color:whitesmoke;
    padding:0.5rem;
    font-size:1.1rem;
    
    border-color:black;
    width:65%;
    margin-top:1.2rem;
    
    
}

#loginBtn:hover {
    background-color:Royalblue;
}

.button-line{
    display:flex;
    flex-direction:column;
    align-items: center;
    

}